link(rel="stylesheet", href="/video.js/dist/video-js/video-js.css")
div(class='container')
  div(class='row')
    -var index = 0
    each meta, url in result
      div(class='col-lg-3 col-md-4 col-sm-6 col-xs-12')
        div(class='thumbnail')
          div(class="embed-responsive embed-responsive-16by9")
            video(controls, id=val, class='video-js vjs-default-skin embed-responsive-item', preload="auto", data-setup='{}', width='auto', height='auto')
              source(src=url, type="video/mp4")
          div(class="caption")
            h5=meta.title
            p from <strong>#{meta.album}</strong> by <strong>#{meta.artist}</strong>
           // p(class="text-right")
              //a(href=url download=url) Download
      - index++
      if index%2 == 0
        div(class="clearfix col-sm-12 visible-sm")
      if index%3 == 0
        div(class="clearfix col-md-12 visible-md")
      if index%4 == 0
        div(class="clearfix col-lg-12 visible-lg")
script(src="/video.js/dist/video-js/video.js")

